# Create a vmdb2-ansible.yaml file for it to be used by vmdb2
- hosts: image
  gather_facts: no
  tasks:
    - name: test
      ansible.builtin.raw:
        echo test

# Example of a task installing python3 in the image, which is needed to run normal playbooks
# We use gather_facts: no, because facts gathering need python, which is not yet available
#    - name: Bootstrap a host without python3 installed
#      gather_facts: no
#      ansible.builtin.raw:
#        apt install -y python3
